@import '/styles/globals';

#opening {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    p {
        letter-spacing: 10px;
        margin: 0;
    }
}