@import '/styles/globals';

#navbar {
    .wrapper {
        position: fixed;
        height: 60px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;

        .logo {
            cursor: pointer;
            position: fixed;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1vw;

            li {
                a {
                    padding: 0 1vw;
                }
            }
        }
    }
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1024px) {
    #navbar {        
        .wrapper {
            top: 40px;
            width: calc(100% - 80px);

            .logo {
                top: 40px;
            }
        }
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768) and (max-width: 1023px) {
    #navbar {
        .wrapper {
            top: 20px;
            width: calc(100% - 40px);

            .logo {
                top: 20px;
            }
        }
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    #navbar {
        .wrapper {
            top: 10px;
            width: calc(100% - 20px);

            .logo {
                top: 10px;
            }
        }
    }
}